<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Tarefas</h1>
      <div class="input-group-prepend">
        <input type="text" #tarefa class="form-control" placeholder="Adicionar tarefa" name="tarefa" ngMode>
        <span class="input-group-text" (click)="adicionarTarefa(tarefa.value)">Adicionar</span>
      </div>
    </div>
    <div class="dados">
      <ul class="list-instyled">
        <li **ngFor="let tarefa of arrayTarefas">{{tarefa}}<a href="#" (click)="apagarTarefa(tarefa)"
            class="badge badge-danger">Apagar</a></li>
      </ul>
    </div>
  </form>
</div>